.mainContainer {
  height: 100vh;
  flex-grow: 1;
  z-index: 1;
  background: rgba(34, 34, 34, 0.6);
  backdrop-filter: blur(10px);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.mainContainer {
  .menuList {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    background: #2c2c2c;
    ul {
      display: flex;
      align-items: center;
      li {
        list-style: none;
        margin: 0 25px;
        position: relative;

        &::before {
          position: absolute;
          content: '';
          bottom: -10px;
          left: 10px;
          width: 0px;
          height: 5px;
          border-radius: 5px;
          background: #f1f1f1;
        }
        &:hover::before {
          width: 30px;
          transition: width 0.3s
            cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }
        &.active::before {
          width: 30px;
          transition: width 0.3s
            cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }

        a {
          text-decoration: none;
          color: #848484;
          font-size: 15px;
        }

        &:hover {
          a {
            color: #f1f1f1;
            transition: 0.3s ease;
          }
        }
        &.active {
          a {
            color: #f1f1f1;
            transition: 0.3s ease;
          }
        }
      }
    }

    p {
      color: #f1f1f1;
      font-size: 14px;
      i {
        font-size: 12px;
        margin-right: 6px;
      }
      span {
        margin-left: 6px;
        color: #848484;
      }
    }
  }
}
